/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add the main background style for the entire app */
body {
  background-image: linear-gradient(to bottom right, #8B5CF6, #9F7AEA);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add the container style for the app content */
.App-container {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Add the table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table td {
  padding: 8px;
  border: 1px solid #ddd;
}

table td.selected {
  background-color: #FCD34D;
}

/* Add styles for textareas and button */
textarea,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1.70em; /* Set the desired font size 1.70 times bigger */
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #8B5CF6;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #9F7AEA;
}

.sloth-icon {
  width: 40px; /* Set the desired width 1.70 times bigger */
  height: 40px; /* Set the desired height 1.70 times bigger */
  vertical-align: middle;
  margin-right: 10px; /* Add spacing between the icon and the title */
}

/* Add styles for the title */
.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 1.70em; /* Set the desired font size 1.70 times bigger */
  color: #8B5CF6; /* Set the same color as the background */
  margin: 0;
}
